body {
  background-color: #e9f8f9;
}
hr {
  background-color: beige;
  border-style: inset;
  border-color: grey;
  width: 30%;
  size: 5;
}

.profile {
  background-color: beige;
}

.circular{
  border-radius: 100%;
}

#name:hover{
  color: black;
}
#name{
  color: purple;
}